body {
    background-color: #F9FAFC;
    font-family: 'Open Sans', sans-serif;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.cover-image {
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-g {
    text-align: right;
    font-size: 120px;
    font-family: 'Playfair Display', serif;
    line-height: 75%;
}

.book-button {
    text-align: left;
}

.footer {
    background-color: slategray;
    height: 150px;
}
