/* base.html */

.nav {
    background-color: white;
    opacity: 20%;
}

body {
    background-color: #F9FAFC;
    font-family: 'Open Sans', sans-serif;
}

.tog {
    outline: none;
}

.footer {
    background-color: #f2f2f2;
    height: 200px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.socials {

color: black;
font-size: 27px;
width: auto;
text-align: center;
word-spacing: 20vw;
padding-top: 70px;
}


/* index.html */

.cover-image {
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hello-g {
    text-align: right;
    font-size: 120px;
    font-family: 'Playfair Display', serif;
    line-height: 75%;
}

.book-button {
    text-align: left;
}

.info-title {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.info-section {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 16px;
    text-align: justify;
    padding-bottom: 50px;
    min-width: 320px;
    padding-top: 50px;
}

.thumbnail-container {
    background-color: #f2f2f2;
    padding: 50px;
}

.thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
    margin: 30px;
    min-width: 250px;

}

.hannah-image {
    background-size: cover;
    overflow: hidden;
    height: 450px;
    min-width: 320px;
    padding-right: 40px;
    margin-right: 50px;
    margin-top: 50px;
}

.hannah-hello {
    text-align: right;
    font-size: 90px;
    font-family: 'Playfair Display', serif;
    line-height: 110%;
    padding-top: 100px;
    align-items: center;
    margin-right: 50px;
    margin-top: 50px;
}


/* Inspiration/gallery */

.gallery {
    margin-top: 200px;
    margin-bottom: 120px;
}

.image-container {
    position: relative;
}

.card {
    border: none;
    background-color: transparent;
}



