{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags  %}


{% if user.is_authenticated %}

<div class="container-fluid appointments-title">
    <div class="">
        <h3>Get booked in!</h3>
    </div>
</div>

<!-- Make booking for with date and time slots -->

<div class="container sign-container">
    <div class="">
        <form method="post" class="appointment-form" style="text-align: center;">
            {{ form | crispy}}
            {% csrf_token %}
            <!-- the aobve form.as_p needs to be in double curly braces but its crashing my page -->
            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Save</button>
            <br>
            <button type="reset" class="btn btn-default" style="margin-top: 30px;">Reset</button>
        </form>
    </div>
</div>



<!-- Section to display bookings already made. -->
{% endif %}

{% endblock %}