{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags  %}


{% if user.is_authenticated %}
<div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
        <form method="post" class="appointment-form">
            {{ form | crispy}}
            {% csrf_token %}
            <!-- the aobve form.as_p needs to be in double curly braces but its crashing my page -->
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}