{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags  %}


{% if user.is_authenticated %}

<div style="height: 50px;"></div>

<div class="container-fluid appointments-title">
    <div class="row">
        <h3>Get booked in!</h3>
    </div>
</div>

<!-- Make booking for with date and time slots -->

<div class="container appointment-container">
    <div class="">
        <form method="post" class="appointment-form" style="text-align: center;">
            {{ form | crispy}}
            {% csrf_token %}

            <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Save</button>
            <br>
            <button type="reset" class="btn btn-default" style="margin-top: 30px;">Reset</button>
        </form>
        <a href="{% url 'my_appoints' %}">
            <button type="button" class="btn btn-outline-secondary page-button" style="margin-top: 30px;">My Appointments</button>
        </a>
    </div>
</div>

{% endif %}

{% endblock %}