{% extends "base.html" %}


{% block content %}

<div class="bg-image d-flex justify-content-center align-items-center cover-image" style="
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1653943213/Background_1_70_f9463m.png');
    height: 100vh;">

    <div class="container hello-g">
        <div class="row">
            <div class="col">
                <p>Hello<br>Gorgeous</p>
            </div>
            <div class="col" style="text-align:center; padding-top: 50px;">
                <a href="{% url 'appointment_bookings' %}"><button type="button" class="btn btn-outline-secondary open-sans text-dark">Book An Appointment</button></a>
            </div>
        </div>
    </div>
</div>

<!-- About the salon-->

<div class="container">
    <div class="row">
        <div class="col info-title">
            The Sanctuary
        </div>
    </div>

    <div class="row">
        <div class="col info-section">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem minus similique
            voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore quae quam
            voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem
            minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore
            quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos
            dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem
            placeat. Tempore quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Modi, sapiente eos dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero,
            exercitationem placeat. Tempore quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Modi, sapiente eos dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos
            voluptatem! Vero, exercitationem placeat. Tempore quae quam voluptate corrupti? Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Modi, sapiente eos dolore rem minus similique voluptas. Culpa aperiam quaerat
            dicta quos voluptatem! Vero, exercitationem placeat. Tempore quae quam voluptate corrupti? Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem minus similique voluptas. Culpa
            aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore quae quam voluptate corrupti?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem minus similique
            voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore quae quam
            voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem
            minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore
            quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos
            dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem
            placeat. Tempore quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Modi, sapiente eos dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero,
            exercitationem placeat. Tempore quae quam voluptate corrupti?
        </div>
    </div>
</div>

<!-- thumbnails photos -->


    <div class="row" style="text-align: center;">
        <div class="col thumbnail-container">
                <span style="display: inline"><img class="thumbnail" src="https://res.cloudinary.com/millermayhem/image/upload/v1653835362/uqnktmurz4wqjcka0lyo.jpg"></span>
                <span style="display: inline"><img class="thumbnail" src="https://res.cloudinary.com/millermayhem/image/upload/v1653681186/ppy7iudctm7ur1olvehp.jpg"></span>
                <span style="display: inline"><img class="thumbnail" src="https://res.cloudinary.com/millermayhem/image/upload/v1653835362/uqnktmurz4wqjcka0lyo.jpg"></span>
                <span style="display: inline"><img class="thumbnail" src="https://res.cloudinary.com/millermayhem/image/upload/v1653681186/ppy7iudctm7ur1olvehp.jpg"></span>
        </div>       
    </div>

<!-- about hannah -->

<div class="container" style="padding: 40px;">
    <div class="row">
        <div class="col-sm hannah-hello" style="font-size: 70px;">
            <p>"Hello<br>beautiful<br>people"</p>
        </div>
        <div class="col-sm bg-image d-flex hannah-image"
            style="
              background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1653950516/Hannah_for_web_fndlju.jpg'); object-fit: contain;"></div>
        <div class="col-sm info-section">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos
            dolore rem minus similique
            voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore quae quam
            voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos dolore rem
            minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem placeat. Tempore
            quae quam voluptate corrupti? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, sapiente eos
            dolore rem minus similique voluptas. Culpa aperiam quaerat dicta quos voluptatem! Vero, exercitationem
            placeat. Tempore quae quam volupt</div>
    </div>
</div>



{% endblock %}