{% extends "base.html" %}


{% block content %}

<div class="bg-image d-flex justify-content-center align-items-center cover-image" style="
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1653943213/Background_1_70_f9463m.png');
    height: 100vh;">

    <div class="container hello-g">
        <div class="row">
            <div class="col">
                <p>Hello<br>Gorgeous</p>
            </div>
            {% if user.is_authenticated %}
            <div class="col" style="text-align:center; padding-top: 50px;">
                <a href="{% url 'appointment_bookings' %}"><button type="button"
                        class="btn btn-outline-secondary open-sans text-dark book-button">Appointments</button></a>
            </div>
            {% else %}
            <div class="col" style="text-align:center; padding-top: 50px;">
                <a href="{% url 'account_login' %}"><button type="button"
                        class="btn btn-outline-secondary open-sans text-dark book-button">Member Login</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- About the salon-->

<div class="container">
    <div class="row">
        <div class="col info-title">
            The Sanctuary
        </div>
    </div>

    <div class="row">
        <div class="col info-section">
            <p>
                Set in the heart of Auchterarders High Street, Hannah's Nail Bar has a city meets small town vibe!
                When opening the salon I knew I wanted to create a fun, welcoming space for all clients. From friendly
                chat, to the bright & airy surroundings, to the pick & mix... not forgetting the catchiest playlists.
                I love all things nail art and never shy away from an intricate challenge. Once I'm in the creative zone
                there are no limits!
            </p>
            <p>
                Since opening in 2019 I have been lucky enough to have seen a great number of locals and visitors alike.
                Whatever your circumstances you are always welcome at my little slice of nail heaven.
                My doors are open Tuesdays to Saturdays so please feel free to get in touch. <br>
                See you soon!

            </p>


        </div>
    </div>
</div>

<!-- thumbnails photos -->


<div style="text-align: center;">
    <div class="col thumbnail-container">
        <span style="display: inline"><img class="thumbnail"
                src="https://res.cloudinary.com/millermayhem/image/upload/v1654607910/salon-4_dkxumu.jpg"></span>
        <span style="display: inline"><img class="thumbnail"
                src="https://res.cloudinary.com/millermayhem/image/upload/v1654607910/salon-2_ngr6ab.jpg"></span>
        <span style="display: inline"><img class="thumbnail"
                src="https://res.cloudinary.com/millermayhem/image/upload/v1654607909/salon-3_rnbgd2.jpg"></span>
        <span style="display: inline"><img class="thumbnail"
                src="https://res.cloudinary.com/millermayhem/image/upload/v1654607909/salon-1_uixcdo.jpg"></span>
    </div>
</div>

<!-- about hannah -->

<div class="container" style="padding: 40px;">
    <div class="row">
        <div class="col-sm hannah-hello" style="font-size: 70px;">
            <p>"Hello<br>beautiful<br>people"</p>
        </div>
        <div class="col-sm bg-image d-flex hannah-image"
            style="
              background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1653950516/Hannah_for_web_fndlju.jpg'); object-fit: contain;"></div>
        <div class="col-sm info-section">
            Hi, I'm Hannah, owner of Hannah's Nail Bar! <br>
            After completing my training in 2012 at the Scottish Beauty School
            in Hillington Glasgow, and working alongside my mum in her hair salon, I decided to follow in her footsteps
            and open a salon of my own. <br>
            My love for the industry and business has gone from strength to stregnth and continues
            to do so while also growing my career. Hopefully I'll see you soon in my little nail sanctuary.

        </div>
    </div>
</div>

<div style="height: 50px;"></div>

{% endblock %}
