{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags  %}


{% if user.is_authenticated %}

<div style="height: 50px;"></div>


<div class="container-fluid appointments-title ">
    <div class="row">
        <h3>My Appointments</h3>
    </div>
</div>



<div class="container-fluid">
    <div style="padding-top: 70px; text-align: center;">
        <h5>Your online bookings will appear here</h5>
    </div>
</div>


<div class="container-fluid">
    <div class="row" >

        <!-- Booking Cards Generated -->
        <div class="col-12 mt-1 justify-content-center">
            <div class="row">
                
                {% for booking in booking_list %}
                <div class="col-md-auto center">
                    <div class="appointment-container ">
                        <div class="card" style="width: 20em;">
                            <img src="https://res.cloudinary.com/millermayhem/image/upload/v1653982722/Gallery_Placeholder_rjvxg5.jpg"
                                class="card-img-top" style="opacity: 0.5;" alt="Booking card with shop image and logo">
                            <div class="card-body">
                                <h5 class="card-title">{{ booking.date }}</h5>
                                <p class="card-text">Your nails appointment is at:<br>{{ booking.time }}</p>
                                <td>
                                    <a href="/edit/{{ booking.id }}">
                                        <button type="edit" class="btn btn-secondary">Edit</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a>
                                </td>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}